.main {
    background-image: url("https://bj-mc-prod-asset.oss-cn-beijing.aliyuncs.com/mc-official/images/face/faceid-demo-topbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    
    height: 330px;
}

.title {
    margin-top: 0;
    padding-top: 110px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.subtitle {
    font-size: 14px;
    color: white;
    text-align: center;
}